<p class="my-3 weight-bold">Note - I use input <code>type="date"</code> for the datepicker, which does not work on <a href="http://caniuse.com/#feat=input-datetime" target="_blank">on some browsers</a>!</p>
<hr />
<%= react_component 'Tasks' %>
